
{% extends "base.html" %}
{% block head %}
    <title>Briefmarken </title>
{% endblock %}

{% block body %}

{% for satz in tbl_saetze %}
<p>{{ satz['Jahrgang'] }}</p>
{% endfor %}
<table>
    <tr>
        <th>MichNr</th>
        <th>Entwertung</th>
        <th>Anzahl</th>
        <th>Variante</th>
    </tr>
    {% for marke in marken %}
    <tr>
        <td>{{ marke['MichNr'] }}</td>
        <td>{{ marke['Entwertung'] }} </td>
        <td> {{ marke['Anzahl'] }} </td>  
        <td>None</td>
    </tr>  
    {% endfor %}
</table>

<a href="{{ url_for('add_Satz') }}">Add Satz</a>


{% endblock %}