
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="{{ url_for('addStamp') }}">Add Stamp</a>
    </header>
    <h1>Berlin West</h1>
    <ul>
        {% for marke in marken %}
        <li>
            MichNr: {{ marke['MichNr'] }} {{ marke['Entwertung'] }} : {{ marke['Anzahl'] }} 
        </li>
        {% endfor %}
    </ul>

</body>

</html>