
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <a href="{{ url_for('addStamp') }}">Add Stamp</a>
    </header>
    <h1>Berlin West</h1>
    <table>
        <tr>
            <th>MichNr</th>
            <th>Entwertung</th>
            <th>Anzahl</th>
            <th>Variante</th>
        </tr>
        {% for marke in marken %}
        <tr>
            <td>{{ marke['MichNr'] }}</td>
            <td>{{ marke['Entwertung'] }} </td>
            <td> {{ marke['Anzahl'] }} </td>  
            <td>None</td>
        </tr>  
        {% endfor %}
    </table>

</body>

</html>