{% extends "base.html" %}
{% block head %}
    <title>Altdeutschland (Baden) </title>
{% endblock %}

{% block body %}

<h1>Altdeutschland Baden</h1>
<table>
    <tr>
        <th>MichNr</th>
        <th>Entwertung</th>
        <th>Anzahl</th>
        <th>Variante</th>
    </tr>
    {% for marke in marken %}
    <tr>
        <td>{{ marke['MichNr'] }}</td>
        <td>{{ marke['Entwertung'] }} </td>
        <td> {{ marke['Anzahl'] }} </td>  
        <td>None</td>
    </tr>  
    {% endfor %}
</table>




{% endblock %}