
{% extends "base.html" %}
{% block head %}
    <title>Briefmarken </title>
{% endblock %}

{% block body %}

<h1>Deutschland-Spezial Band 1</h1>
<h2>Altdeutschland</h2>

<a href="{{ url_for( 'AD_Baden' ) }}"><h3>Altdeutschland (Baden)</h3></a>
<a href="{{ url_for( 'AD_Bayern' ) }}"><h3>Altdeutschland (Bayern)</h3></a>

<h1>Deutschland-Spezial Band 2</h1>

{% for satz in tbl_saetze %}
<p>{{ satz }}</p>
{% endfor %}
<table>
    <tr>
        <th>MichNr</th>
        <th>Entwertung</th>
        <th>Anzahl</th>
        <th>Variante</th>
    </tr>
    {% for marke in marken %}
    <tr>
        <td>{{ marke['MichNr'] }}</td>
        <td>{{ marke['Entwertung'] }} </td>
        <td> {{ marke['Anzahl'] }} </td>  
        <td>None</td>
    </tr>  
    {% endfor %}
</table>


{% endblock %}